//-------------------------RESPONSIVE INDEX--------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .titulo
    {
        font-size: 3rem;                          
    }
    .subtitulos
    {    
        font-size: 2rem;
        text-shadow: -3px 0px 1.5px black;   
        position: relative;
        top: 1rem;       
    }
    .imagenBkg
    {
        height: 50vh;
        width: 100%;
    }
    .parrafoVideo
    {
        font-size: 2rem;                     
    }
    .parrafoPresentacion
    {
        font-size: 1rem; 
        margin:4rem;
        position: relative;
        top: -2rem;
    }
    .textoGrande
    {
        font-size: 1.2rem;
    }
    .botonJuegaAhora
    {
        font-size: 1.5rem;
        width:7.5rem;                                    
    }
    .videoIndex
    {
        width: 100%;        
    }
}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .titulo
    {
        font-size: 5rem;       
    }
    .subtitulos
    {    
        font-size: 3rem; 
        position: relative;
        top: 2rem; 
    }
    .imagenBkg
    {
        height: 75vh;
        width: 100%;
    }
    .parrafoVideo
    {
        font-size: 3.5rem; 
    }
    .parrafoPresentacion
    {
        font-size: 1.5rem; 
        margin: 6rem;        
    }
    .textoGrande
    {
        font-size: 2rem;
    }
    .botonJuegaAhora
    {
        font-size: 2.4rem;
        width: 15rem;
        height: 3.4rem;
    }
    .videoIndex
    {
        width: 100%;
    }
}
@media only screen and (min-width:769px) and (max-width:1300px)
{
    .parrafoPresentacion
    {
        margin:8rem;
        font-size: 2.5rem;
    }
    .textoGrande
    {
        font-size: 3rem;
    }
}
//-------------------------RESPONSIVE HEROES--------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .heroesImagenes
    {
        width: 20rem;
        height: 12.5rem;
        border: solid 2px white;
        transition: height 1.5s;
        transition: width 1.5s; 
        margin: 0;
    }
    .heroesImagenes:hover
    {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.479);
    width: 22rem;
    height: 14rem;
    }
}
//-------------------------RESPONSIVE JUEGA GRATIS--------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .bkgJuegaGratis
    {
        height: 40rem;
    }
    .bkgJuegaGratis h2
    {
        margin: 5rem;        
    }
    .botonDescarga
    {
        width: 20rem;
        height:3rem;
        margin:0;
        font-size:1.5rem;
        position: relative;
        top:10rem;
    }    

}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .bkgJuegaGratis
    {
        height: 50rem;
    }
    .bkgJuegaGratis h2
    {
        margin: 10rem;        
    }   
    .botonDescarga
    {
        width: 30rem;
        height: 5rem;
        margin:0;
        font-size:2.5rem;
        position: relative;
        top:10rem;
    }   
}
@media only screen and (min-width:769px) and (max-width:1920px)
{   
    .bkgJuegaGratis h2
    {
        margin: 15rem;        
    }    
}
//-------------------------RESPONSIVE ACTUALIZACIONES-----------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .accordion-button
    {   
    font-size: 1.2rem;    
    }
.accordion-collapse
    {    
    font-size: 0.9rem;    
    }
    .subtituloNoticias
    {
        font-size: 2rem;
    }
}
//-------------------------RESPONSIVE NOTICIAS------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .parrafoNoticias
    {
        font-size: 1rem;
        text-shadow: -3px 0px 1.5px rgba(0,0,0,0.95);
        position: relative;
        top: 1.5rem;
    }
    .noticiasContenedor
    {        
        height: 6rem;
    }
    
}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .parrafoNoticias
    {
        font-size: 1.3rem;
        position: relative;
        top: 2.2rem;       
    }
    .noticiasContenedor
    {
        height: 8rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1920px)
{
    .parrafoNoticias
    {
        font-size: 2rem;        
    }
    .noticiasContenedor
    {
        height: 10rem;
    }
}
//-------------------------RESPONSIVE CONTACTO------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
  .tituloContacto
  {
    font-size: 3rem;
  }
  .subtitulosContacto
  {
      font-size: 1rem;
      margin: 1;
  }
  legend
  {
      position: relative;
      left: -2rem;
  }
  .mail
  {
      width: $widthMail/2;
      font-size: 1.2rem;
  }
  .sistemaOperativo
  {
      width: 20rem;
  }
  .solicitud 
  {
    font-size: 0.7rem;
  }
  .botonContacto
  {
      margin: 0.5rem;
      width: 15rem;
      font-size: 1.5rem;
  }
  .mainContacto
  {
      margin: 0;
  }
}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .tituloContacto
    {
        font-size: 4rem;
    }
    .subtitulosContacto
    {
        font-size: 1.5rem;
    }
    .mail
    {
        width: $widthMail/2;
        font-size: 1.2rem;
    }
    .sistemaOperativo
    {
         width: 15rem;
    }
    .solicitud 
    {
        font-size: 1rem;
    }
    .botonContacto
    {
         margin: 0.5rem;
         width: 15rem;
         font-size: 1.5rem;
    }
    .mainContacto
  {
      margin: 0;
  }    
    
}
@media only screen and (min-width:769px) and (max-width:1920px)
{
    .tituloContacto
    {
        font-size: 5rem;
    }
    .subtitulosContacto
    {
        font-size: 2.5rem;
    }
    .mainContacto
  {
      margin: 0rem;
  }
    
}
//-----------------------------------------------RESPONSIVE FOOTER---------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .textoFooter
    {
        font-size: 1.2rem;  
    }
}