//Variables
$rojo: #2b0404;
$rojoclaro: #8A0E0E;
$azul: #040821;
//--------------------------------------------------------------------------------------------------------------------------

/*---Index---*/
main
{       
    background-color: #040821;
    width: 100%;       
}
.titulo
{
    color: #851010;
    font-size: 6.25rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    top: 5.62rem;
    z-index: 1;    
}
.subtitulos
{
    color:#8A0E0E;
    font-size: 4.37rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    top: 12.5rem;
    font-family: 'Bangers',sans-serif;    
}
.imagenBkg
{    
    background-image:url("../Imagenes/fondoindex.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;    
}
.parrafoVideo
{
    font-size: 6.25rem;    
    color:#8A0E0E;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    top: 43.75rem;   
    z-index: 1;
}
.parrafoPresentacion
{
    font-size: 3.12rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    top: 25rem;   
}
.textoGrande
{
    font-size: 5rem ;
}
.botonJuegaAhora
{   
    background-color:#3b0505;
    text-align:center;
    font-size: 3.12rem;  
    text-shadow: -6px 0px 3px black; 
    width: 25rem;
    height: 4.68rem;
    margin:0.31rem;
    padding: 0;    
    transition: ease 0.5s;
    position: relative;
    left: 51.87rem;
    top: 6.25rem;
    z-index: 1; 
}
.videoIndex
{
    position: relative;
    top: -18.75rem;    
    width: 100%;            
}
.contenidoVideo
{
    background-color: #040821;
}
/*@media (max-width:700px)
{
  .titulo 
  {
     
  }  
}*/
//--------------------------------------------------------------------------------------------------------------------------

/*---Juega Gratis---*/
#gridJuegaGratis
{
    display: grid;
    grid-template-areas: 
    "cabecera"
    "juegagratis"
    "pie"
    ;
}
.mainJuegaGratis
{
    
    grid-area: juegagratis;
    background-color:$azul;
    
}
#pieJuegaGratis
{
    grid-area: pie;    
}
.bkgJuegaGratis
{    
    background-image:url("../Imagenes/FondoJugarJuego.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 62.5rem;
}
.titulosPaginas
{
    color:$rojoclaro;
    font-size: 4.37rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center; 
    font-family: 'Bangers',sans-serif;        
}
//--------------------------------------------------------------------------------------------------------------------------
/*---Pagina Heroes---*/
.heroes
{
   width: 25rem;
   height: 12.5rem;     
   border: solid 5px white;
   transition: height 1.5s;
   transition: width 1.5s; 
}
.heroes:hover
{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.479);
    width: 31.25rem;
    height: 15.62rem;
}
.revenant
{
    font-size:3.1rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    margin: 3.75rem;    
}
.sevarog
{
    font-size: 3.1rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    margin: 3.75rem;    
}
.wraith
{
    font-size: 3.1rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;   
    margin: 3.75rem;
}
#gridHeroes
{
    display: grid;
    grid-template-areas:
    "cabecera cabecera cabecera"/*1 fila*/
    "heroes heroes heroes" /*2 fila*/
    "villanos villanos villanos"/*3 fila*/
    "pie pie pie"/*4 fila*/
    ;
    grid-template-columns: 33.3% 33.3% 33.3%;    
    grid-template-rows: 3.1rem 28.12rem 28.12rem 3.1rem;
}
#heroes
{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: stretch;       
    grid-area: heroes;
    background-color:rgb(15, 17, 31);
    width: 100%;
    height: 50vh;
}
#villanos
{    
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: stretch;  
    grid-area: villanos;
    background-color:rgb(15, 17, 31);
    width: 100%;
    height: 50vh;
}
#cabecera
{
    grid-area: cabecera;   
}
#pieHeroes
{
    grid-area: pie;
    position: relative;
    top: 3.1rem;    
}
//--------------------------------------------------------------------------------------------------------------------------

/*---Pagina Actualizaciones---*/
#gridActualizaciones
{
    display: grid;
    grid-template-areas: 
    "cabecera"
    "actualizaciones"
    "pie"
    ;
}
#mainActualizaciones
{
    grid-area: actualizaciones;
    background-color:rgb(15, 17, 31);
    width: 100%;
    height: 90vh;
}
#pieActualizaciones
{
    grid-area: pie;    
}
.padreFlex
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;    
}
.actualizaciones
{    
    background-color: #2b0404;
    font-size: 1.25rem;
    color:grey;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    height: 3.1rem;    
    padding: 0.31rem;
    margin: 1.25rem;
}
.textoActualizaciones
{
    text-align: center;
    color:white;
}
.accordion
{
    width: 70%;
    position: relative;
    top: 3.1rem;    
}
.accordion-item
{
    background-color: #3b0505;
}
.accordion-button
{   
   
    font-size: 1.56rem;
    color: white;    
    background-color: #3b0505;
}
.accordion-collapse
{
    
    font-size: 1.25rem;
    color: white;    
    background-color: #3b0505;
}
//--------------------------------------------------------------------------------------------------------------------------

/*---Pagina Noticias---*/
#gridNoticias
{
    display: grid;
    grid-template-areas: 
    "cabecera"
    "noticias"
    "pie"
    ;
}
#mainNoticias
{
    grid-area: noticias;
    background-color:rgb(15, 17, 31);
    width: 100%;
    height: 90vh;
}
#pieNoticias
{
    grid-area: pie;   
}
.tabla
{    
   color:white;    
   width: 132.81rem;
}
.subtitulosNoticias
{
    color:#8A0E0E;
    font-size: 3.1rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center; 
    font-family: 'Bangers',sans-serif; 
}
.parrafoNoticias
{
    font-size: 1.9rem;  
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    top: 10px;
}
.noticiasContenedor
{
    background-color: #2b0404;
    font-size: 1.25rem;    
    color:grey;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;
    height: 3.12rem;    
    padding:0.31rem;
    margin: 1.25rem;
}
.tituloTabla
{
    font-size: 2.18rem;    
}
//--------------------------------------------------------------------------------------------------------------------------
/*---Pagina Contacto---*/
#gridContacto
{
    display: grid;
    grid-template-areas: 
    "cabecera"
    "contacto"
    "pie"
    ;
}
#mainContacto
{
    grid-area: contacto;
    background-color:rgb(15, 17, 31);
    width: 100%;
    height: 90vh;
}
#pieContacto
{
    grid-area: pie;    
}
.contacto
{
    color:white;
    text-align: center;
}