//Variables
$rojo: #2b0404;
$rojoclaro: #8A0E0E;
$azul: #040821;
$widthMail: 30rem;

//Mixing
@mixin color-fondo
{
  background-color: $rojo;
  color: white;
}
//--------------------------------------------------------------------------------------------------------------------------

/*---Index---*/
.main
{       
    background-color: $azul;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}
.mainContenedor
{
    display: block;
    text-align: center;
    justify-content: flex-end;
}
.titulo
{
    color: $rojoclaro;
    font-size: 6.25rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;    
    z-index: 1;    
}
video
{
    width: 100%;
}
.subtitulos
{
    color:$rojoclaro;
    font-size: 5.5rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center;   
    font-family: 'Bangers',sans-serif;   
}
.imagenBkg
{    
    background-image:url("../Imagenes/fondoindex.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;    
}
.parrafoVideo
{
    font-size: 6.25rem;    
    color:$rojoclaro;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;
    position: relative;    
    z-index: 1;
}
.parrafoPresentacion
{
    font-size: 3.12rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center; 
    margin: 15rem;   
}
.textoGrande
{
    font-size: 5rem ;
}
.botonJuegaAhora
{   
    background-color:$rojo;
    text-align:center;
    font-size: 3.12rem;  
    text-shadow: -6px 0px 3px black; 
    width: 25rem;
    height: 4.68rem;
    margin:0.31rem;
    padding: 0;    
    transition: ease 0.5s;
    position: relative;    
    z-index: 1; 
}

//-------------------------RESPONSIVE INDEX--------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .titulo
    {
        font-size: 3rem;                          
    }
    .subtitulos
    {    
        font-size: 2rem;
        text-shadow: -3px 0px 1.5px black;         
    }
    .imagenBkg
    {
        height: 50vh;
        width: 100%;
    }
    .parrafoVideo
    {
        font-size: 2rem;                     
    }
    .parrafoPresentacion
    {
        font-size: 1rem; 
        margin:4rem;
    }
    .textoGrande
    {
        font-size: 1.2rem;
    }
    .botonJuegaAhora
    {
        font-size: 1.5rem;
        width:7.5rem;                                    
    }
    .videoIndex
    {
        width: 100%;        
    }
}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .titulo
    {
        font-size: 5rem;       
    }
    .subtitulos
    {    
        font-size: 3rem; 
    }
    .imagenBkg
    {
        height: 75vh;
        width: 100%;
    }
    .parrafoVideo
    {
        font-size: 3.5rem; 
    }
    .parrafoPresentacion
    {
        font-size: 1.5rem; 
        margin: 6rem;
    }
    .textoGrande
    {
        font-size: 1.7rem;
    }
    .botonJuegaAhora
    {
        font-size: 2.4rem;
        width: 15rem;
        height: 3.4rem;
    }
    .videoIndex
    {
        width: 100%;
    }
}
@media only screen and (min-width:769px) and (max-width:1920px)
{
    .parrafoPresentacion
    {
        margin:8rem;
        font-size: 2.5rem;
    }
    .textoGrande
    {
        font-size: 3rem;
    }
}

//--------------------------------------------------------------------------------------------------------------------------

/*---Juega Gratis---*/
.mainJuegaGratis
{   
    background-color: $azul;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}
.bkgJuegaGratis
{    
    background-image:url("../Imagenes/FondoJugarJuego.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 60rem;
}
.bkgJuegaGratis h2
{
    margin: 25rem;
}
.subtituloJuegaGratis
{
    color:$rojoclaro;
    font-size: 5rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center; 
    font-family: 'Bangers',sans-serif;
}
//-------------------------RESPONSIVE JUEGA GRATIS--------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .bkgJuegaGratis
    {
        height: 40rem;
    }
    .bkgJuegaGratis h2
    {
        margin: 5rem;        
    }
    .subtituloJuegaGratis
    {
        color:$rojoclaro;
        font-size: 2.5rem;
        text-shadow: -3px 0px 1.5px black;        
    }

}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .bkgJuegaGratis
    {
        height: 50rem;
    }
    .bkgJuegaGratis h2
    {
        margin: 10rem;        
    }
    .subtituloJuegaGratis
    {
        color:$rojoclaro;
        font-size: 3.5rem;
        text-shadow: -6px 0px 3px black;        
    }
}
@media only screen and (min-width:769px) and (max-width:1920px)
{   
    .bkgJuegaGratis h2
    {
        margin: 15rem;        
    }    
}

//--------------------------------------------------------------------------------------------------------------------------
/*---Pagina Heroes---*/
.mainHeroes
{
    background-color: $azul;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.mainContenedorHeroes
{
    display:flex;
    flex-wrap: wrap;    
    justify-content: center;
}
.heroesImagenes
{
   width: 25rem;
   height: 12.5rem;     
   border: solid 5px white;
   transition: height 1.5s;
   transition: width 1.5s; 
   margin: 2rem;
}
.heroesImagenes:hover
{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.479);
    width: 31.25rem;
    height: 15.62rem;
}
.fotoIzq
{
    font-size:3rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;       
}
.fotoCentro
{
    font-size: 3rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;       
}
.fotoDer
{
    font-size: 3rem;    
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;   
}
//--------------------------------------------------------------------------------------------------------------------------

/*---Pagina Actualizaciones---*/

.mainActualizaciones
{
    grid-area: actualizaciones;
    background-color:$azul;
    width: 100%;
    height: 90vh;
}
.padreFlex
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;    
}
.textoActualizaciones
{
    text-align: center;
    color:white;
}
.accordion
{
    width: 70%;
    position: relative;
    top: 3.1rem;    
}
.accordion-item
{
    background-color: $rojo;
}
.accordion-button
{   
   
    font-size: 1.56rem;
    color: white;    
    background-color: $rojo;
}
.accordion-collapse
{
    
    font-size: 1.25rem;
    color: white;    
    background-color: $rojo;
}
//-------------------------RESPONSIVE ACTUALIZACIONES-----------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .accordion-button
    {   
    font-size: 1.2rem;    
    }
.accordion-collapse
    {    
    font-size: 0.9rem;    
    }
}
//--------------------------------------------------------------------------------------------------------------------------

/*---Pagina Noticias---*/

.mainNoticias
{    
    background-color:$azul;
    width: 100%;    
}

.subtitulosNoticias
{
    color:$rojoclaro;
    font-size: 3.1rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center; 
    font-family: 'Bangers',sans-serif; 
}
.parrafoNoticias
{
    font-size: 2rem;
    text-align: center; 
    color:white;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    position: relative;
    top: 3.1rem;
        
}
.noticiasContenedor
{
    background-color: $rojo;
    font-size: 1.25rem;  
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);
    font-family: 'Bangers',sans-serif;    
    letter-spacing: 0.18rem;
    text-align: center;    
    height: 3.12rem;    
    padding:0.31rem;
    margin: 1.25rem;
}
//-------------------------RESPONSIVE NOTICIAS------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
    .parrafoNoticias
    {
        font-size: 1rem;
        text-shadow: -3px 0px 1.5px rgba(0,0,0,0.95);
        position: relative;
        top: 1.5rem;
    }
    .noticiasContenedor
    {        
        height: 6rem;
    }
}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .parrafoNoticias
    {
        font-size: 1.3rem;
        position: relative;
        top: 2.2rem;       
    }
    .noticiasContenedor
    {
        height: 8rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1920px)
{
    .parrafoNoticias
    {
        font-size: 2rem;        
    }
    .noticiasContenedor
    {
        height: 10rem;
    }
}
//--------------------------------------------------------------------------------------------------------------------------
/*---Pagina Contacto---*/

.mainContacto
{    
    background-color:$azul(15, 17, 31);
    width: 100%;  
    margin: 2rem;  
}
.tituloContacto
{
    color:$rojoclaro;
    font-size: 6rem;
    text-shadow: -6px 0px 3px black;
    letter-spacing: 0.18rem;
    text-align: center; 
    font-family: 'Bangers',sans-serif;        
}

.subtitulosContacto
{
    font-size: 3rem;
    color:$rojoclaro;
    text-shadow: -6px 0px 3px rgba(0,0,0,0.95);    
    text-align: center;    
    margin: 2rem;
}
::placeholder
{
    color: white;
    text-align: center;
}
.mail
{
    height: 3rem;
    width: $widthMail;
    @include color-fondo;    
    font-size: 2rem;    
    position: relative;
    top:-1rem;
    
}
.sistemaOperativo
{
    height: 3rem;
    width: 30rem;
    @include color-fondo;    
    font-size: 2rem;    
    text-align: center;
    position: relative;
    top:-0.5rem;
}
.sistemaOperativo:hover
{
    color: grey;
}

.solicitud
{
    background-color: $rojo;
    font-size: 1.5rem;
    color: white; 
}
.botonContacto
{
    height: 3rem;
    width: 20rem;
    background-color: $rojo;
    font-size: 2rem;
    color: white;  
    margin: 1rem;  
}
.botonContacto:hover
{
    color: grey;
}
//-------------------------RESPONSIVE CONTACTO------------------------------------------------------------------------------
@media only screen and (min-width:320px) and (max-width:480px)
{
  .tituloContacto
  {
    font-size: 3rem;
  }
  .subtitulosContacto
  {
      font-size: 1rem;
      margin: 1;
  }
  legend
  {
      position: relative;
      left: -2rem;
  }
  .mail
  {
      width: $widthMail/2;
      font-size: 1.2rem;
  }
  .sistemaOperativo
  {
      width: 20rem;
  }
  .solicitud 
  {
    font-size: 0.7rem;
  }
  .botonContacto
  {
      margin: 0.5rem;
      width: 15rem;
      font-size: 1.5rem;
  }

}
@media only screen and (min-width:481px) and (max-width:768px)
{
    .tituloContacto
    {
        font-size: 4rem;
    }
    .subtitulosContacto
    {
        font-size: 2rem;
    }
    .mail
    {
         width: 20rem;
         font-size: 1.5rem;
    }
    .sistemaOperativo
    {
         width: 15rem;
    }
    .solicitud 
    {
        font-size: 1rem;
    }
    .botonContacto
    {
         margin: 0.5rem;
         width: 15rem;
         font-size: 1.5rem;
    }
    
}
@media only screen and (min-width:769px) and (max-width:1920px)
{
    .tituloContacto
    {
        font-size: 5rem;
    }
    .subtitulosContacto
    {
        font-size: 2.5rem;
    }
}
